body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  overflow: hidden; /* Prevent scrolling */
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Distribute content evenly */
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 10px; /* Reduced padding to move content upwards */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Reduced margin to move header upwards */
}

.logo {
  color: #FFF;
  text-align: center;
  font-family: Kameron;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.image-gallery {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 10px; /* Reduced margin to move gallery upwards */
  background-color: #fff;
  padding: 20px 0;
}

.image-track {
  display: flex;
  animation: scroll 15s linear infinite;
  gap: 0;
  background-color: #fff;
  height:max-content
}

.image-item {
  flex: 0 0 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 0;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.order-button {
  margin-top: 70px;
  width: 271px;
height: 130px;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: "Inria Sans";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}